.pageNumberStyles {
  display: flex;
  cursor: pointer;
  margin: 20px 0;
}

.selectedPage {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.pagesStyle {
  border: 1px solid rgb(177, 78, 78);
  padding: 5px;
  background-color: white;
}

.pagesStyle:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.pagesButton {
  padding: 7px;
  color: white;
  background-color: rgb(128, 128, 128, 0.5);
  cursor: pointer;
}

@media (max-width: 360px) {
  .pageNumberStyles {
    margin: 10px 0;
  }
}
